{% extends 'base.html.twig' %}

{% block h1 %}Currency
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name': 'tasks'}) }}
{% endblock %}
{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Code</th>
				<th>EGP</th>
				<th>Timestamps</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for currency in currencies %}
				<tr>
					<td>
						{{ include('components/Link/Entity.html.twig', {'name': 'currency','entity': currency}) }}
					</td>
					<td>{{ currency.code }}</td>
					<td>{{ (currency.EGP/100)|format_currency('EGP') }}</td>
					<td>{{ include('components/Badge/Timestamps.html.twig', {'entity': currency}) }}</td>
					<td>
						{{ include('components/Link/Edit.html.twig', {'name': 'currency','id': currency.id}) }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
