{% extends 'base.html.twig' %}

{% block h1 %}Finance
{% endblock %}
{% block card_left %}
	<div class="d-flex">
		<div>
			<span class="badge">{{ hourlyRate|number_format(2) }}
				EGP/hour</span>
		</div>
		<div>
			<div class="progress">
				{% set progress = (totalIncome / totalCostOfLife) * 100 %}
				<div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
					{{ progress }}%
				</div>
			</div>
			<span class="badge">
				<span title="Total Income This Month">{{ totalIncome|number_format }}
					EGP
				</span>
				/
				<span title="Cost of life">{{ totalCostOfLife|number_format }}
					EGP</span>
			</span>
		</div>
	</div>
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title">Transactions This Month</h5>
						{# {% include 'account_transactions/_table.html.twig' with {'account_transactions': transactions} %} #}
						<ul class="list-group">
							{% for transaction in transactions %}
								<li class="list-group-item">
									<div class="d-flex justify-content-between">
										<strong>{{ transaction.issuedAt|date('Y-m-d') }}</strong>
										<strong class="mx-5">{{ transaction.account.name }}</strong>
										{% if transaction.note %}
											<small class="flex-grow-1">{{ transaction.note }}</small>
										{% endif %}
										<span>
											{{ transaction.amount|number_format }}
											EGP
										</span>craft.app.request.getQueryParam("queryStringName")

									</div>
								</li>

							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
