{% extends 'base.html.twig' %}

{% block h1 %}Finance
{% endblock %}
{% block card_left %}
	<div class="d-flex">
		<div>
			<span class="badge">{{ hourlyRate|number_format(2) }}
				EGP/hour</span>
		</div>
		<div>
			{% set progress = ((totalIncome / totalCostOfLife) * 100)|round %}
			<div class="progress" title="{{ progress }}%">
				<div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
					{{ progress }}%
				</div>
			</div>
			<span class="badge">
				<span title="Total Income This Month">
					EGP
					{{ totalIncome|number_format }}
				</span>
				/
				<span title="Cost of life">
					EGP
					{{ totalCostOfLife|number_format }}
				</span>
			</span>
		</div>
		<div>
			{{ include('components/Link/New.html.twig', {'name': 'transactions'}) }}
		</div>
	</div>
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title">Transactions This Month</h5>
						{# {% include 'transactions/_table.html.twig' with {'transactions': transactions} %} #}
						<ul class="list-group">
							{% for transaction in transactions %}
								<li class="list-group-item">
									<div class="d-flex justify-content-between align-items-center">
										{{ include('components/Link/Entity.html.twig', {'name': 'transactions', 'entity': transaction}) }}
										{{ (transaction.account)? include('components/Link/Entity.html.twig', {'name': 'accounts', 'entity': transaction.account}) }}
										{{ (transaction.account)? include('components/Link/Entity.html.twig', {'name': 'client', 'entity': transaction.account.client}) }}
										{% if transaction.note %}
											<small class="flex-grow-1">{{ transaction.note }}</small>
										{% endif %}
										<span>
											EGP
											{{ transaction.amount|number_format }}
										</span>
									</div>
								</li>

							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
