{% set table_head %}
     <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Priority</th>
                    <th>Actions</th>
                </tr>
    {% endset %} 
    {% set table_body %}
       {% for requirement in requirements %}
                <tr>
                    <td>		
                    				{{ include('components/Link/Entity.html.twig', {'name': 'requirements', 'entity': requirement}) }}
</td>
                    <td>{{ requirement.description }}</td>
                    <td>{{ requirement.category }}</td>
                    <td>{{ requirement.priority }}</td>
                    <td>
                        						{{ include('components/Link/Edit.html.twig', {'name': 'requirements', 'id': requirement.id}) }}

                    </td>
                </tr>
                {% endfor %}
    {% endset %} 
{{ include('components/Crud/Index.html.twig', {
    'entity_name': entity_name,
    'entity_title': entity_title,
    'table_head': table_head,
    'table_body': table_body
    }) }}
    
