{% set body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ requirement.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ requirement.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ requirement.description }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ requirement.category }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ requirement.priority }}</td>
            </tr>
        </tbody>
    </table>
{% endset %}
{{ include('components/Crud/Show.html.twig', {
    'entity_name': entity_name,
    'entity_title': entity_title,
    'entity': requirement,
    'body': body
    }) }}
    