{% extends 'base.html.twig' %}

{% block h1 %}Requirements{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ requirement.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ requirement.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ requirement.description }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ requirement.category }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ requirement.priority }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_requirements_index') }}">back to list</a>

    <a href="{{ path('app_requirements_edit', {'id': requirement.id}) }}">edit</a>

    {{ include('requirements/_delete_form.html.twig') }}
{% endblock %}
