{% extends 'base.html.twig' %}
{# templates/daily/choose_items.html.twig #}

{% block h1 %}
    Choose Items to Migrate to {{ daily.name }}
{% endblock %}
{% block card_actions %}
    <a href="{{ path('app_daily_show', {'id' : daily.id}) }}" class="btn btn-link">back</a>
{% endblock %}
{% block body %}
    {# TODO: make into a form #}
    <form action="{{ path('app_migrate_items', { 'id': daily.id }) }}" method="post">
        <div class="card-body">
            <h2>Previous Daily Items: {{ daily.name }}</h2>
            {#                <div class="w-50"> #}
            <div class="list-group mb-3">
                {% for item in previousItems %}
                    <div class="list-group-item">
                        <div class="form-check">
                            <label for="item_{{ item.id }}"
                                   class="form-check-label required">{{ item.name }}</label>
                            <input type="checkbox" class="form-check-input" id="item_{{ item.id }}"
                                   name="items[]"
                                   value="{{ item.id }}">
                        </div>
                    </div>
                {% endfor %}
                {#                    </div> #}
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <button type="submit" class="btn btn-success">Migrate Selected Items</button>
        </div>
    </form>
{% endblock %}
