{% extends 'base.html.twig' %}

{% block h1 %}Daily{% endblock %}
{% block card_actions %}
    <a href="{{ path('app_daily_new') }}" class="btn btn-outline-light">Create new</a>
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for daily in dailies %}
            <tr>
                <td>{{ daily.id }}</td>
                <td>{{ daily.name }}</td>
                <td>
                    <a href="{{ path('app_daily_show', {'id': daily.id}) }}">show</a>
                    <a href="{{ path('app_daily_edit', {'id': daily.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
