{% extends 'base.html.twig' %}

{# {% block title %}Daily{% endblock %} #}
{% block title %} Daily: #{{ daily.id }} {{ daily.name }} {% endblock %}

{% block body %}
    <h1>Daily: #{{ daily.id }} {{ daily.name }}</h1>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                {% for item in daily.items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <h1>Add Item to {{ daily.name }}</h1>
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.list, {'attr': {'class' : 'd-none'}, 'label_attr' : {'class' : 'd-none'}}) }}
            <button type="submit" class="btn btn-outline-light">Add Item</button>
            {{ form_end(form) }}
        </div>
    </div>

    <div>
        <a href="{{ path('app_choose_items', {'id': daily.id}) }}">Choose Items</a>
        <a href="{{ path('app_daily_index') }}">back to list</a>
        <a href="{{ path('app_daily_edit', {'id': daily.id}) }}">edit</a>
    </div>

    <div class="float-end">
        {{ include('daily/_delete_form.html.twig') }}
    </div>


{% endblock %}
