{{ form_start(form) }}
<div class="card-body">
    <div class="row">
        <div class="col">
            {{ form_row(form.name) }}
        </div>
        <div class="col">{{ form_row(form.Client) }}</div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.status) }}
            {{ form_row(form.enabled) }}
        </div>
        <div class="col">
            {{ form_row(form.tags) }}
        </div>
    </div>
</div>
<div class="card-footer d-flex justify-content-end">
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
