{% extends 'base.html.twig' %}

{% block h1 %}
	{{ notes|length }}
	Notes
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name': 'notes'}) }}
{% endblock %}
{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Note</th>
				<th>Timestamps</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for note in notes %}
				<tr>
					<td>
						{{ include('components/Link/Entity.html.twig', {'name': 'notes', 'entity': note}) }}
					</td>
					<td>{{ note.note }}</td>
					<td>
						{{ include('components/Badge/Timestamps.html.twig', {'entity': note}) }}
					</td>
					<td>
						{{ include('components/Link/Edit.html.twig', {'name': 'notes', 'id': note.id}) }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
