{% extends 'base.html.twig' %}

{% block h1 %}Note
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/Back.html.twig', {'name': 'notes'}) }}
	{{ include('components/Link/Edit.html.twig', {'name': 'notes', 'id': note.id}) }}
	{{ include('notes/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
	<div class="card-body">
		<p>{{ note.note|raw }}</p>
	</div>
	<div class="card-footer text-end">
		{{ include('components/Badge/Timestamps.html.twig', {'entity': note}) }}
	</div>
{% endblock %}
