{% extends 'base.html.twig' %}

{% block h1 %}Objective index{% endblock %}
{% block card_actions %}
<div>
<a href="{{ path('app_objective_new') }}">Create new</a>
</div>
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objective in objectives %}
            <tr>
                <td>{{ objective.id }}</td>
                <td>{{ objective.name }}</td>
                <td>{{ objective.description }}</td>
                <td>{{ objective.createdAt ? objective.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ objective.updatedAt ? objective.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_objective_show', {'id': objective.id}) }}">show</a>
                    <a href="{{ path('app_objective_edit', {'id': objective.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
