{% extends 'base.html.twig' %}

{% block h1 %}
	{{ objectives|length }}
	Objectives
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name': 'objective'}) }}
{% endblock %}
{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Timestamps</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for objective in objectives %}
				<tr>
					<td>
						{{ include('components/Link/Entity.html.twig', {'name': 'objective', 'entity': objective}) }}
					</td>
					<td>{{ objective.description }}</td>
					<td>
						{{ include('components/Badge/Timestamps.html.twig', {'entity': objective}) }}
					</td>
					<td>
						{{ include('components/Link/Edit.html.twig', {'name': 'objective', 'id': objective.id}) }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
