<span class="">
	{{ (entity.startedAt is defined) ?include('components/Badge.html.twig', {'text': entity.startedAt ? entity.startedAt|date('Y-m-d') : '', 'attrs': {'title': 'Started At'}}) }}
	{{ (entity.issuedAt is defined) ?include('components/Badge.html.twig', {'text': entity.issuedAt ? entity.issuedAt|date('Y-m-d') : '', 'attrs': {'title': 'Issued At'}}) }}
	{{ (entity.eta is defined and entity.eta) ? include('components/Badge/ETA.html.twig', {'eta': entity.eta})}}
	{{ (entity.completedAt is defined and entity.completedAt) ? include('components/Badge/CompletedAt.html.twig', {'completedAt': entity.completedAt})}}
	<div>
		{{ entity.createdAt > date('0001-11-30') ? include('components/Badge.html.twig', {'text': entity.createdAt ? entity.createdAt|date('Y-m-d') : '',  'icon': 'bi bi-calendar-plus', 'attrs': {'title': 'Created At'}}) }}
		{{ entity.updatedAt > date('0001-11-30') ? include('components/Badge.html.twig', {'text': entity.updatedAt ? entity.updatedAt|date('Y-m-d') : '',  'icon': 'bi bi-pencil-square', 'attrs': {'title': 'Updated At'}}) }}
	</div>
</span>
