<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Account</th>
			<th>Client</th>
			<th>Status</th>
			<th>Timestamps</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for task_list in task_lists %}
			<tr class='{{ task_list.status }}'>
				<td>
					{{ include('components/Link/Entity.html.twig', {'name': 'task_lists', 'entity': task_list}) }}
				</td>
				<td>
					{{ (task_list.account is not null) ? include('components/Link/Entity.html.twig', {
						'name': 'accounts',
						'entity': task_list.account
					}) : '' }}
				</td>
				<td>
					{{ (task_list.account is not null) ? include('components/Link/Entity.html.twig', {
						'name': 'client',
						'entity': task_list.account.client
					}) : '' }}
				</td>
				<td>{{ task_list.status }}</td>
				<td>{{ include('components/Badge/Timestamps.html.twig', {'entity': task_list}) }}</td>
				<td>
					{{ include('components/Link.html.twig', {'icon': 'bi bi-arrow-up', 'class': 'btn text-success', 'link': path('app_task_lists_promote', {'id': task_list.id})}) }}
					{{ include('components/Link.html.twig', {'icon': 'bi bi-arrow-down', 'class': 'btn text-primary', 'link': path('app_task_lists_demote', {'id': task_list.id})}) }}
					{{ include('components/Link/Edit.html.twig', {'name':'task_lists', 'id': task_list.id}) }}
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="5">no records found</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
