{% extends 'base.html.twig' %}

{% block h1 %}
	{{ entity_title }}
{% endblock %}

{% block container %}
	<div class="d-flex">
		<div class="card">
			<div class="card-header  d-flex align-items-center justify-content-between">
				<h1 class="card-title">{{ entity_title }}</h1>
				<div class="card-left">
					{{ include('components/Link/New.html.twig', {'name': 'task_lists'}) }}
				</div>
			</div>
			<ul class="nav flex-column mb-3 sortable-task-lists" id="sortable-task-lists">
				{% for task_list in task_lists %}
					<li
						class='{{ task_list.status }} w-100' data-tasklist="" data-tasklist-id="{{ task_list.id }}">
						<!-- Handlebar icon -->
						<div class="d-flex flex-column w-100">
							<div>
								{{ include('components/Link/Entity.html.twig', {'name': 'task_lists', 'entity': task_list, 'class': 'nav-link', 'attrs': {} }) }}
							</div>
							<div>
								{{ include('components/Link/Entity.html.twig', {'name': 'accounts', 'entity': task_list.account, 'class': 'nav-link text-secondary	text-sm' }) }}
							</div>
							<div class="btn-group">
								{{ include('components/Link.html.twig', {
									'icon': 'bi bi-arrow-up', 
									'class': 'btn btn-sm text-success', 
									'link': path('app_task_lists_promote', {'id': task_list.id}), 
									'attrs': {'onclick':"return confirm('Are you sure you want to promote this item?');"}}) }}

								{{ include('components/Link.html.twig', {
									'icon': 'bi bi-arrow-down', 
									'class': 'btn btn-sm text-primary',
									'link': path('app_task_lists_demote', {'id': task_list.id}),
									 'attrs': {'onclick':"return confirm('Are you sure you want to demote this item?');" }}) }}
								{% if not task_list.isArchive  %}
									{{ include ('components/Link/New.html.twig', {'name': 'tasks', 'icon': 'bi bi-plus fs-5', 'attrs':{'title': 'New Task', 'id': 'add-task', 'data-ext': {'tasklist':  task_list.id }|json_encode()|raw , 'data-bs-toggle':"offcanvas"}, 'link': path('app_tasks_new')}) }}
								{% endif %}
								<span class="handlebar btn btn-sm" style="cursor: grab;">&#9776;</span>
							</div>
						</div>
					</li>
				{% else %}
					<li>
						<div colspan="5">No records found</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<!-- .card -->
		<div class="container-fluid">
			<div class="card" id="tasklist-card">
				{% if tasks is defined %}
					{% include 'task_lists/_show.html.twig' %}
				{% endif %}
			</div>
			<!-- .card -->
		</div>
		<!-- .container -->
	</div>
	<!-- .d-flex -->
{% endblock %}
