{% extends 'base.html.twig' %}
{% block card_header %}
	<div class="card-header d-flex align-items-center justify-content-between">
		<h1 class="card-title me-5">
			TaskList: #{{ task_list.id }}
			{{ task_list.name }}
		</h1>
		<div class="card-content d-flex flex-grow-1">
			{{ include('components/Badge.html.twig', {'attrs': {'title': 'Status'},'text':  task_list.status }) }}
			{{ include('components/Link.html.twig', {'link': path('app_accounts_show', {'id':task_list.account.id}), 'text': task_list.account.name, 'class': 'btn badge bg-info','attrs': {'title':'Account'} }) }}
			{{ include('components/Link.html.twig', {'link': path('app_client_show', {'id':task_list.account.client.id}), 'text': task_list.account.client.name, 'class': 'btn badge bg-info','attrs': {'title':'Client'} }) }}
		</div>
		<div class="card-actions btn-toolbar ms-5">
			{{ include('components/Link/Back.html.twig', {'link': path('app_task_lists_index')}) }}
			{{ include('components/Link/Edit.html.twig', {'link': path('app_task_lists_edit', {'id': task_list.id}) }) }}
			{{ include('task_lists/_delete_form.html.twig') }}
		</div>
	</div>
	<!-- .card-header -->
{% endblock %}


{% block body %}
	<div class="card-body">
		<h2>Task Lists</h2>
		{% include 'tasks/_table.html.twig' with {'tasks': task_list.tasks} %}
	</div>
	<div class="card-footer text-end">
		{{ include('components/Badge.html.twig', {'text': task_list.createdAt ? task_list.createdAt|date('Y-m-d H:i:s') : '', 'attrs': {'title': 'Created At'} }) }}
		{{ include('components/Badge.html.twig', {'text': task_list.updatedAt ? task_list.updatedAt|date('Y-m-d H:i:s') : '', 'attrs': {'title': 'Updated At'} }) }}
	</div>
{% endblock %}
