{% extends 'base.html.twig' %}

{% block h1 %}Task System
{% endblock %}

{% block card_left %}
	<div class="progress" title="{{ (totalDuration / 60)|round }} / 4 hrs">
		{% set progress = ((totalDuration / 240) * 100)|round %}
		<div class="progress-bar overflow-visible" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
			{{ (totalDuration / 60)|round }}
			/ 4 hrs
		</div>
	</div>
	<input type="checkbox" id="funny-colors" />
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name': 'tasks'}) }}
{% endblock %}
{% block body %}
	<div id="task-system">
		{{ include('components/Task/Tasks.html.twig', { 'tasks': focusTasks}) }}
		<hr/>
		{{ include('components/Task/Tasks.html.twig', { 'tasks': tasksCompletedToday, 'title': 'Completed Today' }) }}
		<hr/>
		{{ include('components/Task/Tasks.html.twig', { 'tasks': tasksCreatedToday, 'title': 'Created Today' }) }}
	</div>
{% endblock %}
