{% extends 'base.html.twig' %}

{% block h1 %}Task System
{% endblock %}

{% block card_left %}
	<div class="progress" title="{{ totalDuration / 60 }} / 4 hrs">
		{% set progress = (totalDuration / 240) * 100 %}
		<div class="progress-bar d-flex align-items-center justify-content-center" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
			<span>{{ totalDuration / 60 }}
				/ 4 hrs</span>
		</div>
	</div>
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name': 'tasks'}) }}
{% endblock %}
{% block body %}

	<div class="list-group tasks">
		{% for task in todayTasks %}
			{{ include('components/Task/Task.html.twig', { task: task }) }}
		{% else %}
			<div class="card-body">
				<p>No Tasks created today</p>
			</div>
		{% endfor %}
	</div>

	<hr/>
	<div class="list-group tasks">
		{% for task in tasks %}
			{{ include('components/Task/Task.html.twig', { task: task }) }}
		{% endfor %}
	</div>
{% endblock %}
