{% extends 'base.html.twig' %}

{% block h1 %}Task System
{% endblock %}

{% block card_left %}
	<div class="progress" title="{{ totalDuration / 60 }} / 4 hrs">
		{% set progress = (totalDuration / 240) * 100 %}
		<div class="progress-bar d-flex align-items-center justify-content-center" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
			<span>{{ totalDuration / 60 }}
				/ 4 hrs</span>
		</div>
	</div>
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name': 'tasks'}) }}
{% endblock %}
{% block body %}
	{{ include('components/Task/Tasks.html.twig', { tasks: todayTasks }) }}
	<hr/>
	{{ include('components/Task/Tasks.html.twig', { tasks: tasks }) }}
{% endblock %}
