<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Client</th>
			<th>Conceal</th>
			<th>Timestamps</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for account in accounts %}
			<tr class="{{ account.conceal ? 'disabled' : 'enabled' }}">
				<td>
					{{ include('components/Link/Entity.html.twig', {'name': 'accounts', 'entity': account}) }}
				</td>
				<td>
					{{ include('components/Link/Entity.html.twig', {'name': 'client', 'entity': account.client}) }}
				</td>
				<td>{{ include('components/Badge/Conceal.html.twig', {'conceal': account.conceal}) }}</td>
				<td>{{ include('components/Badge/Timestamps.html.twig', {'entity': account}) }}</td>
				<td>
					{{ include('components/Link/Edit.html.twig', {'name': 'accounts', 'id': account.id}) }}</td>
			</tr>
		</tbody>
	</tbody>
</tr>{% else %}
<tr>
	<td colspan=" 6">no records found</td>
</tr></td></tbody></tr>{% endfor %}</tbody></table>
