<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Client</th>
			<th>Conceal</th>
			<th>CreatedAt</th>
			<th>UpdatedAt</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for account in accounts %}
			<tr>
				<td>{{ account.id }}</td>
				<td>{{ account.name }}</td>
				<td>
					<twig:Link link="{{ path('app_client_show', {'id': account.client.id}) }}" text="{{ account.client.name }}"/>
				</td>
				<td>
					<twig:Badge:Conceal conceal="{{ account.conceal }}"/>
				</td>
				<td>{{ account.createdAt ? account.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				<td>{{ account.updatedAt ? account.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
				<td>
					<twig:Link:Show link="{{ path('app_accounts_show', {'id': account.id}) }}"/>
					<twig:Link:Edit link="{{ path('app_accounts_edit', {'id': account.id}) }}"/>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan=" 6">no records found</td>
			</tr>
		</td>
	</tbody>
</tr>{% endfor %}</tbody></table>
