{% extends 'base.html.twig' %}
{% block h1 %}
	Account: #{{ account.id }}
	{{ account.name }}
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/Entity.html.twig', {'name': 'client', 'entity': account.client}) }}
	<span>{{ include('components/Badge/Conceal.html.twig', {'conceal': account.conceal }) }}</span>
	{{ include('components/Link/Back.html.twig', {'name': 'accounts' }) }}
	{{ include('components/Link/Edit.html.twig', {'name': 'accounts', 'id': account.id }) }}
	{{ include('accounts/_delete_form.html.twig') }}
{% endblock %}
{% block body %}

	<div class="card-body">
		<div class="d-flex justify-content-between">
			<h2>Task Lists</h2>
			{{ include('components/Link/New.html.twig', {name: 'task_lists', link_parameters: {'account': account.id}}) }}
		</div>
		{% include 'task_lists/_table.html.twig' with {'task_lists': taskLists} %}</div>
	<div class="card-body">
		<div class="d-flex justify-content-between">
			<h2>Transactions</h2>
			{{ include('components/Link/New.html.twig', {name: 'transactions', link_parameters: {'account': account.id}}) }}
		</div>
		{% include 'account_transactions/_table.html.twig' with {'account_transactions': transactions} %}</div>
	<div class="card-footer text-end">
		{{ include('components/Badge/Timestamps.html.twig', {'entity': account}) }}</div>
{% endblock %}
