{% extends 'base.html.twig' %}
{% block card_header %}
	<div class="card-header d-flex align-items-center justify-content-between">
		<h1 class="card-title me-5">
			Account: #{{ account.id }}
			{{ account.name }}
		</h1>
		<div class="card-content d-flex flex-grow-1">
			<div>{{ include('components/Badge/Conceal.html.twig', {'conceal': account.conceal }) }}</div>
			{{ include('components/Link/Entity.html.twig', {'name': 'client', 'entity': account.client}) }}
		</span>


	</div>
	<div class="card-actions btn-toolbar ms-5">
		{{ include('components/Link/Back.html.twig', {'link': path('app_accounts_index') }) }}
		{{ include('components/Link/Edit.html.twig', {'link': path('app_accounts_edit', {'id': account.id}) }) }}
		{{ include('accounts/_delete_form.html.twig') }}
	</div>
</div>
<!-- .card-header -->{% endblock %}{% block body %}
<div class="card-body">
	<h2>Task Lists</h2>
	{% include 'task_lists/_table.html.twig' with {'task_lists': account.taskLists} %}
</div>
<div class="card-footer text-end">
	{{ include('components/Badge/Timestamps.html.twig', {'entity': account}) }}

</div>{% endblock %}
