{% set top = (task.completed) ? (task.completedAt|date_modify('-' ~ task.duration ~ ' mins')|date_modify('-9 hours')|date('H') * 60) + task.completedAt|date('i') : (task.eta|date_modify('-9 hours')|date('H') * 60) + task.eta|date('i') %}
{% set height = (task.completed) ? task.duration : task.est %}
<div class="task-block task {{ task.completed ? 'completed' : '' }} {{ (task.priority > 0) ? 'important' : '' }} {{ (task.urgency > 0) ? 'urgent' : '' }}" data-order="{{ task.order }}" data-id="{{ task.id }}" style="top: {{ top }}px; height: {{ height }}px;">
	<div class="task-time me-2 float-end">
		{{ (task.completed) ? task.completedAt|date_modify('-' ~ task.duration ~ ' mins')|date('H:i') : task.eta|date('H:i') }}
		-
		{{ (task.completed) ? task.completedAt|date('H:i') : task.eta|date_modify('+' ~ task.est ~ ' mins')|date('H:i') }}
	</div>
	<div class="d-flex">
		<label class="btn">
			<input type="checkbox" data-id="{{ task.id }}" data-duration="{{ task.duration }}" class="task-checkbox" {{ task.completed ? 'checked' : ''}} value="1"/>
		</label>
		<span class="task-title" title="{{ task.taskList.name }}">
			{{ include('components/Link/Entity.html.twig', {'name': 'tasks', 'entity': task, 'attrs':{'data-bs-toggle':'offcanvas'} }) }}
		{# TODO: Off Canvas display #}
			{# <a class="btn btn-link" data-bs-toggle="offcanvas" href="#offcanvas" role="button" aria-controls="offcanvas"> #}
			{# <i class="bi bi-info-circle"></i> #}
			{# </a> #}

			{# {{ include('components/Link/Entity.html.twig', {'name': 'task_lists', 'entity': task.taskList}) }} #}
			{# {{ include('components/Link/Entity.html.twig', {'name': 'accounts', 'entity': task.taskList.account}) }} #}
			{# {{ include('components/Link/Entity.html.twig', {'name': 'client', 'entity': task.taskList.account.client}) }} #}
			{# {{ include('components/Badge/Priority.html.twig', {'priority': task.priority}) }} #}
			{# {{ include('components/Badge/Urgency.html.twig', {'urgency': task.urgency}) }}"> #}
		</span>
	</div>

</div>
