<tr class="task {{ task.completed ? 'completed' : '' }} {{ (task.priority > 0)? 'important' : '' }} {{ (task.urgency > 0)? 'urgent' : '' }}" data-order="{{ task.order }}" data-id="{{ task.id }}" {% for key,value in task.toArray %} {{ "data-"~key }}="{{ value }}" {% endfor %}>
	<td class="sortable-handle">
		<i class="bi bi-grip-vertical fs-5 text-secondary"></i>
	</td>
	<td>
		<div class="d-flex align-items-center">
			<div>
				<label class="btn">
					<input type="checkbox" data-id="{{ task.id }}" data-duration="{{ task.duration }}" class="task-checkbox" {{ task.completed ? 'checked' : ''}} value="1"/>
				</label>
			</div>
			<div>
				<div>
					{{ include('components/Link/Entity.html.twig', {'name': 'tasks', 'entity': task, 'class':'fw-bold btn btn-sm name pb-0', 'attrs': {'data-bs-toggle':"offcanvas"} }) }}
				</div>
				<div class="entities">
					{{ include('components/Link/Entity.html.twig', {'name': 'task_lists', 'entity': task.taskList}) }}
					{{ include('components/Link/Entity.html.twig', {'name': 'accounts', 'entity': task.taskList.account}) }}
					{{ include('components/Link/Entity.html.twig', {'name': 'client', 'entity': task.taskList.account.client}) }}
				</div>
			</div>
		</div>
	</td>
	<td>
		<div class="d-flex flex-column priority align-items-center">
			{{ include('components/Badge/Priority.html.twig', {'priority': task.priority}) }}
			{{ include('components/Badge/Urgency.html.twig', {'urgency': task.urgency}) }}
		</div>
	</td>
	<td>
		{{ include('components/Badge/EST.html.twig', {'est': task.est})}}
		{{ include('components/Badge/ETA.html.twig', {'eta': task.eta})}}
		<br/>
		{{ include('components/Badge/Duration.html.twig', {'duration': task.duration})}}
		{{ include('components/Badge/CompletedAt.html.twig', {'completedAt': task.completedAt})}}
	</td>
	<td class="text-end">
		{{ include('components/Link/Edit.html.twig', {'name': 'tasks', 'id': task.id, 'attrs':{'data-bs-toggle':"offcanvas"} }) }}
	</td>
</tr>
