{% extends 'base.html.twig' %}

{% block h1 %}Schedule
{% endblock %}
{% block card_actions %}
	<div>
		<a href="{{ path('app_schedule_index') }}">back to list</a>
		<a href="{{ path('app_schedule_edit', {'id': schedule.id}) }}">edit</a>
		{{ include('schedule/_delete_form.html.twig') }}
	</div>
{% endblock %}
{% block body %}
	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ schedule.id }}</td>
			</tr>
			<tr>
				<th>Est</th>
				<td>{{ schedule.est }}</td>
			</tr>
			<tr>
				<th>Eta</th>
				<td>{{ schedule.eta ? schedule.eta|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
