{% extends 'base.html.twig' %}

{% block h1 %}Rates
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name': 'rate'}) }}

{% endblock %}
{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Rate</th>
				<th>Note</th>
				<th>Timestamps</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for rate in rates %}
				<tr>
					<td>{{ rate.rate|format_currency('EGP') }}</td>
					<td>{{ rate.note }}</td>
					<td>
						{{ include('components/Badge/Timestamps.html.twig', {'entity': rate}) }}
					</td>
					<td>
						{{ include('components/Link/Show.html.twig', {'name': 'rate', 'id': rate.id}) }}
						{{ include('components/Link/Edit.html.twig', {'name': 'rate', 'id': rate.id}) }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
