{% extends 'base.html.twig' %}

{% block h1 %}Rate
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/Back.html.twig', {'name': 'rate'}) }}
	{{ include('components/Link/Edit.html.twig', {'name': 'rate', 'id': rate.id}) }}
	{{ include('rate/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ rate.id }}</td>
			</tr>
			<tr>
				<th>Rate</th>
				<td>{{ rate.rate }}</td>
			</tr>
			<tr>
				<th>Active</th>
				<td>{{ rate.active ? 'Yes' : 'No' }}</td>
			</tr>
			<tr>
				<th>Note</th>
				<td>{{ rate.note }}</td>
			</tr>
			<tr>
				<th>CreatedAt</th>
				<td>{{ rate.createdAt ? rate.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>UpdatedAt</th>
				<td>{{ rate.updatedAt ? rate.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
