{% extends 'base.html.twig' %}

{% block h1 %}Days
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name': 'days'}) }}
{% endblock %}
{% block body %}
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_days_index') }}" class="{{ complete ? '' : 'active' }}">Open</a>
		</li>
		<li class="nav-link">
			<a href="{{ path('app_days_index', {'complete': 1}) }}" class="{{ complete ? 'active' : '' }}">Completed</a>
		</li>
	</ul>
	<div class="days">
		{% for day in days %}
			{# {{ include('components/Day/Day.html.twig') }} #}
			<div class="day card m-3 mx-auto {{ day.complete ? 'completed' : '' }} {% if day.deadline and day.deadline < 'now'|date_modify('+3 days') %}text-bg-danger{% elseif day.deadline and day.deadline < 'now'|date_modify('+2 weeks') %}text-bg-warning{% endif %}">
				<div class="card-header d-flex justify-content-between align-items-center">
					<h3 class="card-title">
						{{ include('components/Link/Entity.html.twig', {'name': 'days', 'entity': day}) }}
					</h3>
					<div class="">
						{{ day.deadline ? day.deadline|time_diff : '' }}<br/>
						{{ day.deadline|date }}
					</div>
				</div>
				<div class="card-body">
					<label>
						<input type="checkbox" name="complete" id="complete" {{ day.complete ? 'checked' : '' }}/>
						Complete
					</label>
				</div>
				<!-- ./card-body -->
				<div class="card-footer d-flex justify-content-between">
					{{ include('components/Link/Edit.html.twig', {'name': 'days', 'id': day.id, 'attrs':{'data-bs-toggle':"offcanvas"}}) }}
					{{ include('components/Badge/Timestamps.html.twig', {'entity': day}) }}
				</div>
			</div>
			<!-- ./card -->
		{% else %}
			<div>
				<td colspan="5">no records found</td>
			</div>
		{% endfor %}
	</div>
	<!-- ./days -->
{% endblock %}
