{% extends 'base.html.twig' %}

{% block h1 %}Days
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name': 'days'}) }}

{% endblock %}
{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Deadline</th>
				<th>Complete</th>
				<th>Timestamps</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for day in days %}
				<tr class="{{ day.complete ? 'completed' : '' }}">
					<td>
						{{ include('components/Link/Entity.html.twig', {'name': 'days', 'entity': day}) }}
					</td>
					<td>{{ day.deadline ? day.deadline|date('Y-m-d') : '' }}</td>
					<td>{{ day.complete ? 'Yes' : 'No' }}</td>
					<td>{{ include('components/Badge/Timestamps.html.twig', {'entity': day}) }}</td>
					<td>
						{{ include('components/Link/Edit.html.twig', {'name': 'days', 'id': day.id}) }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
