{% extends 'base.html.twig' %}

{% block h1 %}Days index
{% endblock %}
{% block card_actions %}
	<div>
		<a href="{{ path('app_days_new') }}">Create new</a>
	</div>
{% endblock %}
{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Deadline</th>
				<th>Complete</th>
				<th>CreatedAt</th>
				<th>UpdatedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for day in days %}
				<tr>
					<td>{{ day.id }}</td>
					<td>{{ day.name }}</td>
					<td>{{ day.deadline ? day.deadline|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ day.complete ? 'Yes' : 'No' }}</td>
					<td>{{ day.createdAt ? day.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ day.updatedAt ? day.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_days_show', {'id': day.id}) }}">show</a>
						<a href="{{ path('app_days_edit', {'id': day.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
