{% extends 'base.html.twig' %}

{% block h1 %}Cost Of Life
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name': 'cost_of_life'}) }}
{% endblock %}
{% block body %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Value</th>
				<th>Timestamps</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for cost_of_life in cost_of_lives %}
				<tr>
					<td>
						{{ include('components/Link/Entity.html.twig', {'name': 'cost_of_life', 'entity': cost_of_life}) }}
					</td>
					<td>{{ (cost_of_life.value/100)|format_currency(cost_of_life.currency.code) }}</td>
					<td>{{ include('components/Badge/Timestamps.html.twig', {'entity': cost_of_life}) }}</td>
					<td>
						{{ include('components/Link/Edit.html.twig', {'name': 'cost_of_life', 'id': cost_of_life.id}) }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
