{{ form_start(form) }}
<div class="card-body">
    <div class="row">
        <div class="col-7">
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            <div class="row">
                <div class="col">
                    {{ form_row(form.dueAt) }}
                </div>
                <div class="col">
                    {{ form_row(form.eta) }}
                </div>
                <div class="col">
                    {{ form_row(form.completedAt) }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    {{ form_row(form.type) }}
                </div>
                <div class="col">
                    {{ form_row(form.account) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.priority) }}
                </div>
                <div class="col">
                    {{ form_row(form.urgency) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.est) }}
                </div>
                <div class="col">
                    {{ form_row(form.duration) }}
                </div>
            </div>
            {{ form_row(form.tags) }}
        </div>
        {{ form_row(form.completed) }}
    </div><!-- .row -->
</div><!-- .card-body -->
<div class="card-footer d-flex justify-content-end">
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
