{% extends 'base.html.twig' %}

{% block h1 %}Task: {{ task.name }}{% endblock %}
{% block card_actions %}
    <a href="{{ path('app_task_index') }}" class="btn btn-link">back to list</a>
    <a href="{{ path('app_task_edit', {'id': task.id}) }}" class="btn btn-outline-light">edit</a>
    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
    <div>
        <span class="badge bg-secondary">{{ task.type }}</span>
        <span class="badge bg-{{ (task.priority < 0) ? 'secondary' : (task.priority) ? 'primary' : 'success' }}">
            {{ (task.priority < 0) ? 'Low' : (task.priority) ? 'High' : 'Normal' }}
        </span>
        <span class="badge bg-{{ (task.urgency) ? 'primary' : 'success' }}">
            {{ (task.urgency) ? 'Urgent' : 'Normal' }}
        </span>
    </div>
    <table class="table">
        <tbody>
        <tr>
            <th>Type</th>
            <td><span class="badge bg-secondary">{{ task.type }}</span></td>
            <th>Position</th>
            <td>{{ task.position }}</td>
            <th>Priority</th>
            <td>{{ task.priority ? 'High' : 'Normal' }}</td>
            <th>Urgency</th>
            <td colspan="3">{{ task.urgency ? 'Urgent' : 'Normal' }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td colspan="3">{{ task.description }}</td>
            <th>Tags</th>
            <td colspan="3">{{ task.tags|join(', ') }}</td>
            <th>Completed</th>
            <td>{{ task.completed ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>DueAt</th>
            <td>{{ task.dueAt ? task.dueAt|date('Y-m-d H:i:s') : '' }}</td>
            <th>Eta</th>
            <td>{{ task.eta ? task.eta|date('Y-m-d H:i:s') : '' }}</td>
            <th>CompletedAt</th>
            <td>{{ task.completedAt ? task.completedAt|date('Y-m-d H:i:s') : '' }}</td>
            <th>Est</th>
            <td>{{ task.est }}</td>
            <th>Duration</th>
            <td>{{ task.duration }}</td>
        </tr>
        <tr>
            <th>Details</th>
            <td>{{ task.details ? task.details|json_encode : '' }}</td>
            <th></th>
            <td></td>
            <th>CreatedAt</th>
            <td>{{ task.createdAt ? task.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            <th>UpdatedAt</th>
            <td colspan="3">{{ task.updatedAt ? task.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
