{% extends 'base.html.twig' %}

{% block h1 %}Cigarette Log
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/Back.html.twig', {'name': 'cigarette_log'}) }}
	{{ include('cigarette_log/_delete_form.html.twig') }}

{% endblock %}
{% block body %}
	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ cigarette_log.id }}</td>
			</tr>
			<tr>
				<th>CreatedAt</th>
				<td>{{ cigarette_log.createdAt ? cigarette_log.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>UpdatedAt</th>
				<td>{{ cigarette_log.updatedAt ? cigarette_log.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
