{% set table_head %}
         <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Due_date</th>
                <th>Amount</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
    {% endset %} 
    {% set table_body %}
       {% for payment in payments %}
            <tr>
                <td>						{{ include('components/Link/Entity.html.twig', {'name': entity_name, 'entity': payment}) }}
</td>
                <td>{{ payment.description }}</td>
                <td>{{ payment.dueDate ? payment.dueDate|date('Y-m-d') : '' }}</td>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.status }}</td>
                <td>
                                        						{{ include('components/Link/Edit.html.twig', {'name': entity_name, 'id': payment.id}) }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
    {% endset %} 
{{ include('components/Crud/Index.html.twig', {
    'entity_name': entity_name,
    'entity_title': entity_title,
    'table_head': table_head,
    'table_body': table_body
    }) }}
    
