{% set body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payment.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ payment.description }}</td>
            </tr>
            <tr>
                <th>Due_date</th>
                <td>{{ payment.dueDate ? payment.dueDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ payment.amount }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ payment.status }}</td>
            </tr>
        </tbody>
    </table>
{% endset %}
{{ include('components/Crud/Show.html.twig', {
    'entity_name': entity_name,
    'entity_title': entity_title,
    'entity': payment,
    'body': body
    }) }}
    