{% extends 'base.html.twig' %}

{% block h1 %}Time System:
	{{ time_system.name }}
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/Back.html.twig', {'name': 'time_system'}) }}
	{{ include('components/Link/Edit.html.twig', {'name': 'time_system', 'id': time_system.id }) }}
	{{ include('time_system/_delete_form.html.twig') }}
{% endblock %}
{% block body %}

	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Name</th>
				<td colspan="3">{{ time_system.name }}</td>
			</tr>
			<tr>
				<th>From time</th>
				<td>{{ time_system.fromTime ? time_system.fromTime|date('H:i:s') : '' }}</td>
				<th>To time</th>
				<td>{{ time_system.toTime ? time_system.toTime|date('H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Tags</th>
				<td colspan="3">{{ time_system.tags|join(', ') }}</td>
			</tr>
		</tbody>
	</table>
	<div class="card-footer text-end">
		{{ include('components/Badge/Timestamps.html.twig', {'entity': time_system}) }}
	</div>
{% endblock %}
