{% extends 'base.html.twig' %}

{% block h1 %}
	{{ clients|length }}
	Clients
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name': 'client'}) }}
{% endblock %}
{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Enabled</th>
				<th>BillingOption</th>
				<th>Timestamps</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for client in clients %}
				<tr class="{{ client.enabled ? 'enabled' : 'disabled' }}">
					<td>
						{{ include('components/Link/Entity.html.twig', {'name': 'client', 'entity': client}) }}
					</td>
					<td>
						{{ include('components/Badge/Enabled.html.twig', {'enabled': client.enabled})}}
					</td>
					<td>
						{% for name,option in client.billingOption %}
							{{ include('components/Badge.html.twig', {'text': name ~ ': ' ~ option, 'attrs':{'title': name}}) }}
						{% endfor %}
					</td>
					<td>{{ include('components/Badge/Timestamps.html.twig', {'entity': client}) }}</td>
					<td>
						{{ include('components/Link/Edit.html.twig', {'name': 'client', 'id': client.id}) }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
