{% extends 'base.html.twig' %}

{% block h1 %}Clients
{% endblock %}
{% block card_actions %}
	{{ create_new_link(path('app_client_new')) }}
{% endblock %}
{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Enabled</th>
				<th>Status</th>
				<th>BillingOption</th>
				<th>CreatedAt</th>
				<th>UpdatedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for client in clients %}
				<tr>
					<td>{{ client.id }}</td>
					<td>{{ client.name }}</td>
					<td>{{ client.enabled ? 'Yes' : 'No' }}</td>
					<td>{{ client.status }}</td>
					<td>
						{% for name,option in client.billingOption %}
							{{name}}:
							{{ option }}<br/>
						{% endfor %}
					</td>
					<td>{{ client.createdAt ? client.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ client.updatedAt ? client.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						{{ edit_link(path('app_client_edit', {'id': client.id})) }}
						{{ show_link(path('app_client_show', {'id': client.id})) }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
