{% extends 'base.html.twig' %}
{% block h1 %}
	Client: #{{ client.id }}
	{{ client.name }}
{% endblock %}
{% block card_actions %}
	<span>
		{{ include('components/Badge/Enabled.html.twig', {'enabled': client.enabled}) }}
	</span>
	{{ include('components/Link/Back.html.twig', {'name': 'client'}) }}
	{{ include('components/Link/Edit.html.twig', {'name': 'client', 'id': client.id}) }}
	{{ include('client/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
	<div class="card-body">
		<span>
			{% for name,option in client.billingOption %}
				{% if option %}
					{{ include('components/Badge.html.twig', {'text': name ~ ': ' ~ option, 'attrs':{'title': name}}) }}
				{% endif %}
			{% endfor %}
		</span>
		<hr/>
		<h2>Accounts</h2>
		{% include 'accounts/_table.html.twig' with {'accounts': client.accounts} %}
	</div>
	<div class="card-footer text-end">
		{{ include('components/Badge/Timestamps.html.twig', {'entity': client}) }}
	</div>
{% endblock %}
