{% extends 'base.html.twig' %}

{% block h1 %}{{ contracts|length }} Contracts
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name': 'contract'}) }}
{% endblock %}
{% block body %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>HoursPerDay</th>
				<th>IsCompleted</th>
				<th>BilledOn</th>
				<th>Timestamps</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for contract in contracts %}
				<tr class="{{ contract.isCompleted ? 'completed' : '' }}">
					<td>
						{{ include('components/Link/Entity.html.twig', {'name': 'contract', 'entity': contract}) }}
					</td>
					<td>{{ contract.hoursPerDay }}</td>
					<td>{{ contract.isCompleted ? 'Yes' : 'No' }}</td>
					<td>{{ contract.billedOn }}</td>
					<td>{{ include('components/Badge/Timestamps.html.twig', {'entity': contract}) }}</td>
					<td>
						{{ include('components/Link/Edit.html.twig', {'name': 'contract', 'id': contract.id}) }}
						</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
