{% extends 'base.html.twig' %}

{% block h1 %}Contract
	{{ contract.name }}
	{{ include('components/Link/Entity.html.twig', {'name': 'client', 'entity': contract.client}) }}
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/Back.html.twig', {'name': 'contract'}) }}
	{{ include('components/Link/Edit.html.twig', {'name': 'contract', 'id': contract.id}) }}
	{{ include('contract/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>HoursPerDay</th>
				<td>{{ contract.hoursPerDay }}</td>
			</tr>
			<tr>
				<th>IsCompleted</th>
				<td>{{ contract.isCompleted ? 'Yes' : 'No' }}</td>
			</tr>
			<tr>
				<th>BilledOn</th>
				<td>{{ contract.billedOn }}</td>
			</tr>
		</tbody>
	</table>
	<div class="card-footer text-end">
		{{ include('components/Badge/Timestamps.html.twig', {'entity': contract}) }}
	</div>
{% endblock %}
