<div class="day card mx-auto {{ day.complete ? 'completed' : '' }}">
	<div class="card-header">
		<div class="card-title">
			{# <input type="checkbox" name="complete" {{ day.complete ? 'checked' : '' }} data-id="{{ day.id }}"/> #}
			{{ include('components/Link/Entity.html.twig', {'name': 'days', 'entity': day, 'attrs': {'data-bs-toggle':"offcanvas"}}) }}
		</div>
		<div class="d-flex justify-content-between">
			{{ include('components/Badge/Deadline.html.twig', {'text': day.deadline|time_diff}) }}
		</div>
	</div>
	<!-- ./card-body -->
</div>
<!-- ./card -->
