<div class="day card m-3 mx-auto {{ day.complete ? 'completed' : '' }} {% if day.deadline and day.deadline < 'now'|date_modify('+3 days') %}text-bg-danger{% elseif day.deadline and day.deadline < 'now'|date_modify('+2 weeks') %}text-bg-warning{% endif %}">
	<div class="card-header d-flex justify-content-between align-items-center">
		<h3 class="card-title">
			{{ include('components/Link/Entity.html.twig', {'name': 'days', 'entity': day}) }}
		</h3>
		<div class="">
			{{ day.deadline ? day.deadline|time_diff : '' }}<br/>
			{{ day.deadline|date }}
		</div>
	</div>
	<div class="card-body">
		<label>
			<input type="checkbox" name="complete" id="complete" {{ day.complete ? 'checked' : '' }}/>
			Complete
		</label>
	</div>
	<!-- ./card-body -->
	<div class="card-footer d-flex justify-content-between">
		{{ include('components/Link/Edit.html.twig', {'name': 'days', 'id': day.id}) }}
		{{ include('components/Badge/Timestamps.html.twig', {'entity': day}) }}
	</div>
</div>
<!-- ./card -->
