{% extends 'base.html.twig' %}

{% block h1 %}Task List: #{{ tasklist.id }} {{ tasklist.name }}{% endblock %}

{% block card_actions %}
    <a href="{{ path('app_tasklist_index') }}" class="btn btn-link">back</a>
    <a href="{{ path('app_tasklist_edit', {'id': tasklist.id}) }}" class="btn btn-outline-light">edit</a>
    {{ include('tasklist/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
    {% include 'task/_tasks_list_accordion.html.twig' %}

    <div class="card-footer text-end">
        <span class="badge" title="Created At">
            {{ tasklist.createdAt ? tasklist.createdAt|date('Y-m-d H:i:s') : '' }}
        </span>
        <span class="badge" title="Updated At">
            {{ tasklist.updatedAt ? tasklist.updatedAt|date('Y-m-d H:i:s') : '' }}
        </span>
        <a class="btn btn-outline-light float-end" href="{{ path('app_task_new', {'tasklist': tasklist.id}) }}">
            Create New
        </a>
    </div>
{% endblock %}
