<header class="bg-dark">
	<nav class="navbar navbar-expand-lg fixed-bottom dropup">
		<div class="container bg-body-tertiary">
			<a class="navbar-brand" href="{{ path('app_dashboard') }}">WuWei</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				{{ render_menu() }}
				{{ include ('components/Link.html.twig', {'icon': 'bi bi-stopwatch-fill fs-5', 'attrs':{'title': 'New Timelog', 'id': 'add-timelog', 'data-bs-toggle':"offcanvas"}, 'link': path('app_timelog_new')}) }}
				{{ include ('components/Link.html.twig', {'icon': 'bi bi-plus fs-5', 'attrs':{'title': 'New Task', 'id': 'add-task', 'data-bs-toggle':"offcanvas"}, 'link': path('app_tasks_new')}) }}
				{# <form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-light" type="submit">Search</button>
				</form> #}
				<div class="navbar-nav d-none d-lg-block">
					<div class="nav-item text-nowrap">
						<a class="nav-link px-3 text-secondary" href="{{ path('mobizel_markdown_docs_main_index') }}">Docs</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>
