{% extends 'base.html.twig' %}

{% block h1 %}Goal index
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name': 'goal'}) }}
{% endblock %}
{% block body %}
	<div class="card-body ">
		<div class="row">
			{% for goal in goals %}
				<div class="col-4">
					<div class="card mb-4">
						<div class="card-header d-flex">
							<h5 class="card-title">{{ goal.name }}</h5>
							<div class="ms-auto">
								{{ include('components/Link/Show.html.twig', {'name': 'goal', 'id': goal.id}) }}
								{{ include('components/Link/Edit.html.twig', {'name': 'goal', 'id': goal.id}) }}
							</div>
						</div>
						<div class="card-body">
							<div>{{ goal.tags|join(', ') }}</div>
						</div>
						<div class="card-footer text-end">
							{{ include('components/Badge/Timestamps.html.twig', {'entity': goal}) }}
						</div>
					</div>
				</div>
			{% else %}
				<div>
					<div>no records found</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
