{% extends 'base.html.twig' %}

{% block h1 %}Goal #{{ goal.id }}:
	{{ goal.name }}
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/Back.html.twig', {'name': 'goal'}) }}
	{{ include('components/Link/Edit.html.twig', {'name': 'goal', 'id': goal.id}) }}
	{{ include('goal/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Tags</th>
				<td>{{ goal.tags|join(', ') }}</td>
			</tr>
		</tbody>
	</table>
	<div class="card-footer text-end">
		{{ include('components/Badge/Timestamps.html.twig', {'entity': goal}) }}
	</div>
{% endblock %}
