{% set table_head %}
 <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Code</th>
                    <th>Actions</th>
                </tr>
                {% endset %} 
    {% set table_body %}
       {% for proposal in proposals %}
                <tr>
                    <td>
                    		{{ include('components/Link/Entity.html.twig', {'name': entity_name, 'entity': proposal}) }}
                            </td>
                    <td>{{ proposal.date|date('Y-m-d') }}</td>
                    <td>{{ proposal.code }}</td>
                    <td>
                        						{{ include('components/Link/Edit.html.twig', {'name': entity_name, 'id': proposal.id}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    {% endset %} 
{{ include('components/Crud/Index.html.twig', {
    'entity_name': entity_name,
    'entity_title': entity_title,
    'table_head': table_head,
    'table_body': table_body
    }) }}
    
