{% set body %}
      <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proposal.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ proposal.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ proposal.date ? proposal.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ proposal.code }}</td>
            </tr>
        </tbody>
    </table>
{% endset %}
{{ include('components/Crud/Show.html.twig', {
    'entity_name': entity_name,
    'entity_title': entity_title,
    'entity': proposal,
    'body': body
    }) }}
    