{% set table_head %}
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Billing Cycle</th>
        <th>Actions</th>
    </tr>
{% endset %}

{% set table_body %}
    {% for product_service in product_services %}
        <tr>
            <td>
                {{ include('components/Link/Entity.html.twig', {'name': 'product_service', 'entity': product_service}) }}
            </td>
            <td>{{ product_service.type }}</td>
            <td>{{ product_service.billingCycle }}</td>
            <td>
                {{ include('components/Link/Edit.html.twig', {'name': 'product_service', 'id': product_service.id}) }}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">No product services found</td>
        </tr>
    {% endfor %}
{% endset %}

{{ include('components/Crud/Index.html.twig', {
    'entity_name': entity_name,
    'entity_title': entity_title,
    'table_head': table_head,
    'table_body': table_body
}) }}
