{% extends 'base.html.twig' %}

{% block h1 %}Tag: #{{ tag.id }}
	{{ tag.name }}
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/Back.html.twig', {'name':'tag'}) }}
	{{ include('components/Link/Edit.html.twig', {'name':'tag', 'id':tag.id }) }}
	{{ include('tag/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
	<div class="card-footer text-end">
		{{ include('components/Badge/Timestamps.html.twig', {'entity': tag}) }}
	</div>
{% endblock %}
