<a href="{{ link|default('#') }}" class="{{ class|default('btn') }}" {% for attr, value in attrs|default({} ) %} {{ attr }}="{{ value }}" {% endfor %}>
	{% if icon|default(null) %}
		<i class="{{ icon }}"></i>
	{% endif %}
	{{ text|default('') }}
	{{ content|default('')|raw }}
</a>
