{% extends 'base.html.twig' %}

{% block h1 %}
	Let's Go
{% endblock %}
{% block body %}
	<div class="card-body">
		<div class="row mb-3">
			{% for day in days %}
				<div class="col">
					{{ include('components/Day/Day.html.twig')}}
				</div>
			{% endfor %}
		</div>
		{% include 'tasks/_stats.html.twig' %}
		{% include 'dashboard/_goal.html.twig' %}
		<div class="row">
			<div class="col-8">
				{{ include('components/Task/Tasks.html.twig')}}
			</div>
			<div class="col">
				<table class="table table-striped">
					<tbody>
						{% for key,cost in costs %}
							<tr>
								<th class="text-end">{{ key|capitalize }}</th>
								<td>
									{{ cost.EGP|format_currency('EGP') }}
								</td>
								<td>
									{{ cost.USD|format_currency('USD')}}
								</td>
								<td>
									{{ cost.EUR|format_currency('EUR')}}
								</td>
							</tr>
						{% endfor %}

					</tbody>
				</table>

			</div>
		</div>
		{# <div class="row">
							<div class="col">
								{% include('goal/_goals.html.twig') %}
							</div>
							{% include('item_list/_item_lists.html.twig') %}
						</div> #}
	</div>
{% endblock %}
