{% extends 'base.html.twig' %}
{% block h1 %} Welcome to WuWei {% endblock %}
{% block body %}
    <div style="position: relative;">
        <div style="position: fixed;left: 0;font-family: monospace;top: 10rem;">
            <div style="text-decoration: underline;">WuWei</div>
            <div>Embrace</div>
            <div>Imperfection</div>
            <div>Mindfulness</div>
        </div>
    </div>
    <div class="row align-items-stretch d-none">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar bg-success" style="width: 25%">25%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar bg-info text-dark" style="width: 50%">50%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar bg-warning text-dark" style="width: 75%">75%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar bg-danger" style="width: 100%">100%</div>
                    </div>
                </div><!-- .card-body -->
            </div><!-- .card -->
        </div><!-- .col -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="progress-stacked">
                        <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="15"
                             aria-valuemin="0"
                             aria-valuemax="100" style="width: 15%">
                            <div class="progress-bar"></div>
                        </div>
                        <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="30"
                             aria-valuemin="0"
                             aria-valuemax="100" style="width: 30%">
                            <div class="progress-bar bg-success"></div>
                        </div>
                        <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="20"
                             aria-valuemin="0"
                             aria-valuemax="100" style="width: 20%">
                            <div class="progress-bar bg-info"></div>
                        </div>
                    </div><!-- .progress-stacked -->
                </div><!-- .card-body -->
            </div><!-- .card -->
        </div><!-- .col -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar bg-success" style="width: 25%">25%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar bg-info text-dark" style="width: 50%">50%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar bg-warning text-dark" style="width: 75%">75%</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100"
                         aria-valuemin="0"
                         aria-valuemax="100">
                        <div class="progress-bar bg-danger" style="width: 100%">100%</div>
                    </div>
                </div><!-- .card-body -->
            </div><!-- .card -->
        </div><!-- .col -->
    </div><!-- .row -->
    <div class="row align-items-stretch">
        <div class="col">
            {% for itemList in itemLists %}
                <div class="card" {{ ("شعار المرحلة" == itemList.name)? "dir='rtl'" : "" }}>
                    <div class="card-header"><h2>{{ itemList.name }}</h2></div>
                    <div class="list-group">
                        {% for item in itemList.items %}
                            <div class="list-group-item">
                                {% include 'item/_item.html.twig' %}
                            </div><!-- .list-group-item -->
                        {% endfor %}
                    </div><!-- .list-group -->
                </div><!-- .card -->
                <hr/>
            {% endfor %}
        </div><!-- .col -->
        <div class="col">
            <div class="card h-100 daily-card">
                {% if tasks %}
                    <div class="card-header">
                        <h2>1000 ToDo's</h2>
                    </div>
                    <div class="list-group">
                        {% for task in tasks %}
                            <div class="list-group-item">
                                <div class="form-check task-item">
                                    <input class="form-check-input" type="checkbox" value="{{ task.id }}"
                                           id="task_{{ task.id }}" name="task[]">
                                    <label class="form-check-label" for="task_{{ task.id }}">
                                        <span class="task"
                                              data-href="{{ path('app_task_show', {'id': task.id}) }}">{{ task.name }}</span>
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="card-footer d-flex justify-content-between">
                    <a href="{{ path('app_create_daily') }}" class="btn btn-outline-light">Generate new day</a>
                    {% if daily %}
                        <a href="{{ path('app_choose_items', {'id' : daily.id}) }}" class="btn btn-outline-light">
                            Migrate to this day
                        </a>
                    {% endif %}
                </div>
            </div>
            {% include 'daily/_daily.html.twig' %}
        </div><!-- .col -->
    </div><!-- .row -->
{% endblock %}
