{% extends 'base.html.twig' %}
{% block h1 %}Welcome to WuWei, Everyday is closer to your goal, what are you going to do today?
{% endblock %}
{% block body %}
	<div class="card-body">
		<div class="row">
			{% for timeSystem in currentTimeSystem %}
				<div class="col">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">{{ timeSystem.tags[0]}}</h3>
						</div>
						<div class="card-body">

							{{ timeSystem.fromTime|date('H:i') }}
							-
							{{ timeSystem.toTime|date('H:i') }}
						</div>
						<div class="card-footer">
							{% for tag in timeSystem.tags %}
								{% if loop.index0 != 0 %}
									<span class="badge text-info">
										{{ tag }}
									</span>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="row">
			{% for day in days %}
				{# TODO: Create Component #}
				<div class="col">
					{{ include('components/Day/Day.html.twig')}}
				</div>
			{% endfor %}
		</div>
		<div class="list-group tasks">
			{% for task in tasks %}
				{{ include('components/Task/Task.html.twig')}}
			{% endfor %}
		</div>
	</div>
	<div class="row row-cols-3 g-4">
		{% for key,widget in widgets %}
			<div class="col">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center">
							<h2 class="card-title">
								{{ widget.value|default('00:00') }}
							</h2>
							<small>{{ widget.title }}</small>
						</div>
					</div>
					{% if widget.valueLastYear %}
						<div class="card-body">
							<div class="d-flex justify-content-between align-items-center">
								<i class="bi {{ widget.trendIcon }} {{ widget.trendColor }}"></i>
								<span class="small text-muted" title="last year">{{ widget.valueLastYear|default('00:00') }}</span>
								<span class="badge {{ widget.percentageColor }}">
									{{ widget.percentage < 0 ? '' : '+' }}{{ widget.percentage|number_format(2) }}%
								</span>
							</div>
						</div>
					{% endif %}
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		{% endfor %}
	</div>
	<hr/>
	<div class="card-body">
		{% include('goal/_goals.html.twig') %}
		<hr/>
		{% include('item_list/_item_lists.html.twig') %}
	</div>
{% endblock %}
