{% extends 'base.html.twig' %}

{% block title %}
    Welcome to WuWei
{% endblock %}

{% block body %}
    <div class="row align-items-stretch">
        <div class="col">
            {% for itemList in itemLists %}
                <div>
                    <h2>{{ itemList.name }}</h2>
                    {% for item in itemList.items %}
                        <li>{{ item.name }}</li>
                    {% endfor %}
                </div>
                <hr/>
            {% endfor %}
        </div>
        <div class="col">
            <div class="card h-100">
                {% if lastDay %}
                    <div class="card-header"><h2>{{ lastDay.name }}</h2></div>
                    <div class="card-body">
                        <ul>
                            {% for item in lastDay.items %}
                                <li>{{ item.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="card-footer d-flex justify-content-between">
                    <a href="{{ path('app_create_daily') }}">Generate new day</a>
                    <a href="{{ path('app_choose_items', {'id' : lastDay.id}) }}">Migrate to this day</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
