{% extends 'base.html.twig' %}

{% block title %}
    Welcome to WuWei
{% endblock %}

{% block body %}
    <div class="row align-items-stretch">
        <div class="col">
            {% for itemList in itemLists %}
                <div class="card" {{ ("شعار المرحلة" == itemList.name)? "dir='rtl'" : "" }}>
                    <div class="card-header"><h2>{{ itemList.name }}</h2></div>
                    <div class="list-group">
                        {% for item in itemList.items %}
                            <div class="list-group-item">{{ item.name }}</div>
                        {% endfor %}
                    </div>
                </div>
                <hr/>
            {% endfor %}
        </div>
        <div class="col">
            {# TODO: templatize #}
            <div class="card h-100 daily-card">
                {% if lastDay %}
                    <div class="card-header"><h2>{{ lastDay.name }}</h2></div>
                    <div class="list-group">
                        {% for item in lastDay.items %}
                            <div class="list-group-item">
                                <div class="form-check daily-item">
                                    <input class="form-check-input" type="checkbox" value="{{ item.id }}"
                                           id="item_{{ item.id }}" name="item[]">
                                    <label class="form-check-label" for="item_{{ item.id }}">
                                        {{ item.name }}
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="card-footer d-flex justify-content-between">
                    <a href="{{ path('app_create_daily') }}" class="btn btn-outline-light">Generate new day</a>
                    <a href="{{ path('app_choose_items', {'id' : lastDay.id}) }}" class="btn btn-outline-light">
                        Migrate to this day
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
