{% extends 'base.html.twig' %}
{% block h1 %}Welcome to WuWei
{% endblock %}
{% block body %}
	<div class="">
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>Day</th>
					{% for item, habit_details in habit_builder.habits %}
						<th>{{ item }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for day in 1..habit_builder.days %}
					<tr class="{{ (day == 22) ? 'milestone' : '' }}">
						<th>{{ habit_builder.start|date_modify( '+'~day~ ' days')|date('Y-m-d') }}</th>
						{% for item, habit_details in habit_builder.habits %}
							<td>
								{% for habit in habit_details %}
									<div class="form-check form-check-inline">
										<label class="form-check-label">
											<input type="checkbox" class="form-check-input"/>
											{{ habit }}
										</label>
									</div>
								{% endfor %}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row row-cols-3 g-4">
		{% for key,widget in widgets %}
			<div class="col">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center">
							<h2 class="card-title">
								{{ widget.value|default('00:00') }}
							</h2>
							<small>{{ widget.title }}</small>
						</div>
					</div>
					{% if widget.valueLastYear %}
						<div class="card-body">
							<div class="d-flex justify-content-between align-items-center">
								<i class="bi {{ widget.trendIcon }} {{ widget.trendColor }}"></i>
								<span class="small text-muted" title="last year">{{ widget.valueLastYear|default('00:00') }}</span>
								<span class="badge {{ widget.percentageColor }}">
									{{ widget.percentage < 0 ? '' : '+' }}{{ widget.percentage|number_format(2) }}%
								</span>
							</div>
						</div>
					{% endif %}
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		{% endfor %}
	</div>
	<hr/>
	<div class="card-body">
		{% include('goal/_goals.html.twig') %}
		<hr/>
		{% include('item_list/_item_lists.html.twig') %}
	</div>
{% endblock %}
