{% extends 'base.html.twig' %}

{% block h1 %}Tag Types{% endblock %}
{% block card_actions %}
    <a href="{{ path('app_tag_type_new') }}" class="btn btn-outline-light">Create new</a>
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for tag_type in tag_types %}
            <tr>
                <td>{{ tag_type.name }}</td>
                <td>{{ tag_type.createdAt ? tag_type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tag_type.updatedAt ? tag_type.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_tag_type_show', {'id': tag_type.id}) }}">show</a>
                    <a href="{{ path('app_tag_type_edit', {'id': tag_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
