{% set table_head %}
  <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Week</th>
                <th>Month</th>
                <th>Action_item</th>
                <th>Remarks</th>
                <th>actions</th>
            </tr>                {% endset %} 
    {% set table_body %}
       {% for milestone in milestones %}
            <tr>
                <td>
						{{ include('components/Link/Entity.html.twig', {'name': 'milestones', 'entity': milestone}) }}
                </td>
                <td>{{ milestone.title }}</td>
                <td>{{ milestone.week }}</td>
                <td>{{ milestone.month }}</td>
                <td>{{ milestone.actionItem }}</td>
                <td>{{ milestone.remarks }}</td>
                <td>
						{{ include('components/Link/Edit.html.twig', {'name': 'milestones', 'id': milestone.id}) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
    {% endset %} 
{{ include('components/Crud/Index.html.twig', {
    'entity_name': entity_name,
    'entity_title': entity_title,
    'table_head': table_head,
    'table_body': table_body
    }) }}
    
