{% set body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transaction.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ transaction.date ? transaction.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ transaction.amount }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ transaction.type }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ transaction.notes }}</td>
            </tr>
        </tbody>
    </table>
{% endset %}
{{ include('components/Crud/Show.html.twig', {
    'entity_name': entity_name,
    'entity_title': entity_title,
    'entity': transaction,
    'body': body
    }) }}
    