{% extends 'base.html.twig' %}

{% block h1 %}Holiday index
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name': 'holiday'}) }}
{% endblock %}
{% block body %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Date</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for holiday in holidays %}
				<tr>
					<td>
						{{ include('components/Link/Entity.html.twig', {'name': 'holiday', 'entity': holiday}) }}
					</td>
					<td>{{ holiday.type }}</td>
					<td>{{ holiday.date ? holiday.date|date('Y-m-d') : '' }}</td>
					<td>
						{{ include('components/Link/Edit.html.twig', {'name': 'holiday', 'id': holiday.id}) }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
