{% extends 'base.html.twig' %}

{% block h1 %}{{ items|length }} Items
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name':'item'}) }}
{% endblock %}
{% block body %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td>{{ item.name }}</td>
					<td>
						{{ include('components/Link/Show.html.twig', {'name':'item', 'id': item.id}) }}
						{{ include('components/Link/Edit.html.twig', {'name':'item', 'id': item.id}) }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
