<div class="card-body">
	<table class="table table-striped tasks">
		<tbody>
			<tr>
				<td colspan="2">
					{{ include('components/Badge/Completed.html.twig', {completed: task.completed})}}
					<span class="badge bg-secondary" title="Work Loggable">
						{{ task.workLoggable ? 'Work Loggable' : 'NoT Work Loggable' }}
					</span>
				</td>
			</tr>
			<tr class="task">
				<td>
					{{ include('components/Link/Entity.html.twig', {'name': 'task_lists', 'entity': task.taskList}) }}
					{{ include('components/Link/Entity.html.twig', {'name': 'accounts', 'entity': task.taskList.account}) }}
					{{ include('components/Link/Entity.html.twig', {'name': 'client', 'entity': task.taskList.account.client}) }}
				</td>
				<td>
					<div class="d-flex flex-column priority align-items-center">
						{{ include('components/Badge/Priority.html.twig', {'priority': task.priority}) }}
						{{ include('components/Badge/Urgency.html.twig', {'urgency': task.urgency}) }}
					</div>
				</td>
			</tr>
			<tr>
				<td>
					{{ include('components/Badge/EST.html.twig', {est: task.est})}}
				</td>
				<td>
					{{ include('components/Badge/Duration.html.twig', {duration: task.duration})}}
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">
					{{ include('components/Badge/Timestamps.html.twig', {'entity': task}) }}
				</td>
			</tr>
			<tr>
				<td
					colspan="3" class="text-end">
					{# TODO: Mark Complete #}
					{{ include('components/Link/Edit.html.twig', {'name': 'tasks', 'id': task.id, 'attrs':{'data-bs-toggle':"offcanvas"} }) }}
				</td>
			</tr>
		</tfoot>
	</table>
</div>
