<div class="card-body">
	{{ knp_pagination_sortable(tasks, 'Task', 't.id') }}
	-
	{{ knp_pagination_sortable(tasks, 'Urgency', 't.urgency') }}
	-
	{{ knp_pagination_sortable(tasks, 'Priority', 't.priority') }}
	-
	{{ knp_pagination_sortable(tasks, 'TaskList', 'tl.id') }}
	-
	{{ knp_pagination_sortable(tasks, 'Account', 'a.id') }}
	-
	{{ knp_pagination_sortable(tasks, 'Client', 'c.id') }}
	-
	{{ knp_pagination_sortable(tasks, 'Completed At', 't.completedAt') }}
</div>
{{ include('components/Task/Tasks.html.twig', {'tasks': tasks}) }}
