{% extends 'base.html.twig' %}

{% block h1 %}Tasks
{% endblock %}
{% block card_actions%}
	{{ include('components/Link/New.html.twig', {'name': 'tasks'}) }}
{% endblock %}
{% block body %}
	<div class="card-footer">
		<div class="navigation d-flex justify-content-between">
			<div class="count">
				{{ tasks.getTotalItemCount() }}
			</div>
			{{ knp_pagination_render(tasks) }}
		</div>
	</div>
	{% include 'tasks/_table.html.twig' %}
	<div class="card-footer">
		<div class="navigation d-flex justify-content-between">
			<div class="count">
				{{ tasks.getTotalItemCount() }}
			</div>
			{{ knp_pagination_render(tasks) }}
		</div>
	</div>
{% endblock %}
