{% extends 'base.html.twig' %}

{% block h1 %}Transactions
{% endblock %}
{% block card_actions %}
    {{ include('components/Link/New.html.twig', {'name': 'transactions'}) }}
{% endblock %}
{% block body %}
    <div class="card-footer">
        <div class="navigation d-flex justify-content-between">
            <div class="count">
                {{ transactions.getTotalItemCount() }}
            </div>
            {{ knp_pagination_render(transactions) }}
        </div>
    </div>
    {% include('account_transactions/_table.html.twig') %}
    <div class="card-footer">
        <div class="navigation d-flex justify-content-between">
            <div class="count">
                {{ transactions.getTotalItemCount() }}
            </div>
            {{ knp_pagination_render(transactions) }}
        </div>
    </div>
{% endblock %}
