{% extends 'base.html.twig' %}

{% block h1 %}AccountTransactions index
{% endblock %}
{% block card_actions %}
	<div>
		<a href="{{ path('app_transactions_new') }}">Create new</a>
	</div>
{% endblock %}
{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Amount</th>
				<th>Note</th>
				<th>IssuedAt</th>
				<th>CreatedAt</th>
				<th>UpdatedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for account_transaction in account_transactions %}
				<tr>
					<td>{{ account_transaction.id }}</td>
					<td>{{ account_transaction.amount }}</td>
					<td>{{ account_transaction.note }}</td>
					<td>{{ account_transaction.issuedAt ? account_transaction.issuedAt|date('Y-m-d') : '' }}</td>
					<td>{{ account_transaction.createdAt ? account_transaction.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ account_transaction.updatedAt ? account_transaction.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_transactions_show', {'id': account_transaction.id}) }}">show</a>
						<a href="{{ path('app_transactions_edit', {'id': account_transaction.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
