{% extends 'base.html.twig' %}

{% block h1 %}Account Transactions
{% endblock %}
{% block card_actions %}
	<div>
		<a href="{{ path('app_transactions_index') }}">back to list</a>
		<a href="{{ path('app_transactions_edit', {'id': account_transaction.id}) }}">edit</a>
		{{ include('account_transactions/_delete_form.html.twig') }}
	</div>
{% endblock %}
{% block body %}
	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ account_transaction.id }}</td>
			</tr>
			<tr>
				<th>Amount</th>
				<td>{{ account_transaction.amount }}</td>
			</tr>
			<tr>
				<th>Note</th>
				<td>{{ account_transaction.note }}</td>
			</tr>
			<tr>
				<th>IssuedAt</th>
				<td>{{ account_transaction.issuedAt ? account_transaction.issuedAt|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>CreatedAt</th>
				<td>{{ account_transaction.createdAt ? account_transaction.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>UpdatedAt</th>
				<td>{{ account_transaction.updatedAt ? account_transaction.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
